.App {
  margin-top: 120px;
  text-align: center;
}
.app-btn-submit
{
  padding: 8px;
  border: 1px solid rgb(213, 213, 213);
  width: 6%;
  display: flex;
  justify-content: center;
  margin: 24px auto;
  background-color: rgb(226, 224, 224);
  cursor: pointer;
}

